@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #F0EEEF;
  --foreground: #171717;
    --color-brand-navy: #F9F0E5;
  --color-brand-blue: #01005B;
  --color-text-primary: #676869;
}




