@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #f0eeef;
  --foreground: #171717;
  --color-brand-navy: #f9f0e5;
  --color-brand-blue: #01005b;
  --color-text-primary: #676869;
}

.swiper-pagination-bullet {
  background-color: #c4c4c4 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
}

.swiper-pagination {
  bottom: 0px !important;
}
.swiper-wrapper {
  min-height: 55px !important;
}

.swiper-slide-thumb-active img {
  border-color: #000 !important;
  opacity: 1 !important;
}

@media (min-width: 768px) {
  .my-slider-class .swiper-wrapper {
    pointer-events: none; 
  }
  
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #1C2E58 !important;
}